*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: bisque;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.image{
    margin-left: 20px;
    size: 20px;
    width: 130px;
    height: 130px;
}
nav{
    height: 140px;
    background-color: white;
}
h1{
    margin-top: -90px;
    text-align: center;

}
.the-form{
    margin-top: 40px;
    margin-left:200px ;
    background-color: rgb(80, 40, 40);
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-top: 90px solid rgb(62, 235, 105);
    width: 70%;
    height: 100%;
}
.head2{
    margin-top: -90px;
}
.information{
    padding-top: 30px;
    text-align: center;
}
.sub-menu-wrap{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;

}
.sub-menu-wrap.open-menu{
    max-height: 400px;
    
}
.icon{
    padding-top: -20px;
    margin-left: 87%;
}

.icon1{
    width: 30px;
}

.sub-menu{
    background-color: rgb(37, 33, 33);
    padding: 20px;
    padding-top: 10px;
    margin-top: 30%;
    margin-right: 35%;
}
.user-info{
    display: flex;
    align-items: center;
}
.user-info h3{
    font-weight: 500;
    font-size: 15px;
    margin: 20px;
}
.user-info .user{
    padding-left: 1px;
    width: 30px;

}
.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;

}
.line{
    padding: 3px;
}
.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: aquamarine;
    margin: 12px 0;
}
.sub-menu-link p{
    width: 100%;
}
.sub-menu-link .im{
    width: 40px;
    border-radius: 50%;
    padding: 3px; 
}
.sub-menu-link span{
    font-size: 13px;
    transition: transform 0.5s;
}
.sub-menu-link:hover span{
    transform: translateX(5px);

}
.sub-menu-link:hover p{
    font-weight: 500;
    color: aliceblue;    
}
.ionic{
    width: 42px;
    height: 40px;
}
.ionic:hover{
    transform: scale(1.5);
    transition: .3s;
    cursor: pointer;
}

hr{
    margin-top: 30px;
    width: 100%;
    height: 0px;
    padding-top: 2px;
    background-color: aliceblue;
}
.list{
    border-radius: 30px;
    width: 450px;
    margin: 400px auto 0;
    padding-bottom: 400px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    margin-left: 250px;
    margin-top: 20px;
}
.list1{
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 20px;
    background-color: beige;
    border-radius: 40px;
    transition: transform 0.5s;
}

ul li{
    list-style: none;
}
.inner{
    display: flex;
    flex-direction: column;
}

.list1:hover{
    transform: scale(1.10);
    z-index: 100;
    background: rgb(209, 165, 165);
    box-shadow: 0 5px 25px rgba(0, 0, 0, .2);
    color: #fff;
    cursor: pointer;
}


